// Define variables for your  scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Custom titles
$forest-title: #00401A;
$grey-title: #4D5D53;
$red-title: #960018;
$yellow-title: #EBB02D;
$chocolate: #413831;
// Custom hover and background
$green-hover: #74C365;
$grey-hover: #5C8984;
$red-hover: #B31312;
$grey-background: #D7C0AE;
// Custom greys
$mediumgrey: rgb(139, 139, 139);
$darkgrey: rgb(70, 70, 70);
$whitegrey: rgba(223, 231, 236, 0.885);
$lightgrey: rgb(174, 176, 181);



// elegant blacnk & white and one main color style
$shadow-grey: rgb(124, 123, 123);
$cool-pink: #f6baa7;
$cool-green: #5F876A;
