.caro-drop {
  width: 900px;
}

.caro-drop p {
  display: flex;
  justify-content: center;
}
.carousel-item img {
width: 700px;
height: 500px;
object-fit: cover;
}

.below {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  margin-top: 5px;
}

.cen {
  justify-content: center;
}

.cgb {
  background-color: rgb(153, 115, 11);
  border-radius: 7px;
}

.up {
  margin-left: 160px;
  position: absolute;
  margin-top: 76px;
  color: lightgrey;
}

.plus {
  color: lightgrey;
  margin: 10px;
  padding: 10px;
}

.bin {
  color: lightgray;
  margin-left: 150px;
}
