.search-categories {
  display: flex;
  margin: 10px;
}

.search-form {
  background-color: $grey-background;
  color: $red-title;
  border: none;
  border-radius: 3px;
}

.search-banner {
  background-color: black;
  height: 50vh;
}
