.search-categories {
  display: flex;
  margin: 10px;
  color: black;
}

.search-form {
  background-color: $white;
  border: 1px solid $shadow-grey;
  border-radius: 3px;
}

.search-banner-content {
  margin-top: auto;
  margin-bottom: auto;
}

.search-banner h6 {
  padding-top: 7px;
}
