
<div class="d-md-flex banner">
    <h1 style= "margin-bottom: 0px;"> <span class="Photo">Photo</span>
    <span class="buddies"> buddies</span> <span class="berlin2">
    <% if user_signed_in? %>
      <%= current_user.community.name.capitalize %>
     <% else %>
      your local community!
     <% end %></span> </h1>
    <%# <img src= "/assets/logo1" class="logo"> %>
    <%= link_to "Community", community_path, class: "main-button p-2" %>
    <%= link_to "Events", "#local_events", class: "main-button p-2" %>
    <%# <button type="button" class="main-button2">Events</button> %>

</div>


<%# //   style= margin: 30px;
//  margin-bottom: 4px;
 // padding: 2px;> %>
