
<div class="d-md-flex banner">
    <h1 style= "margin-bottom: 0px;">
      <span class="app-name">PhotoBuddies</span>
      <span class="community-name">
        <% if user_signed_in? %>
          <%= current_user.community.name.capitalize %>
        <% end %>
      </span>
    </h1>
    <%# <img src= "/assets/logo1" class="logo"> %>
    <div>
    <%= link_to community_path do %>
    <% end %>
    <%= link_to "events", "#local_events", class: "main-button-home1" %>
    </div>
    <div> </div>
    <%# <button type="button" class="main-button2">Events</button> %>

</div>
