
<div class="d-md-flex banner">
    <h1 style= "margin-bottom: 0px;"> Photo
    <span class="buddies"> buddies </span>  </h1>
    <p style= "margin-right: 110px;"> <strong> A photo family in your city </strong> </p>
</div>

<%# //   style= margin: 30px;
//  margin-bottom: 4px;
 // padding: 2px;> %>
