
<div class="d-md-flex banner">
    <h1 style= "margin-bottom: 0px;"> <span class="Photo">Photo</span>
    <span class="buddies"> buddies</span>  </h1>
    <%# <img src= "/assets/logo1" class="logo"> %>
    <button type="button" class="main-button2">Go Dark</button>
    <p style= "margin-right: 50px;"> <strong style= "font-size: 40px;"> A photo family in your city </strong> </p>
</div>

<%# //   style= margin: 30px;
//  margin-bottom: 4px;
 // padding: 2px;> %>
