<%# d-md-flex %>
<div class="community-banner">
  <%= image_tag "logo-all-white.png" %>
    <h1 id="banner-title">
      <span class="app-name">PhotoBuddies    </span>
      <span class="community-name">
        <% if user_signed_in? %>
          <%= link_to community_path do %>
            <%= current_user.community.name.capitalize %>
          <% end %>
        <% end %>
      </span>
    </h1>
    <%# <img src= "/assets/logo1" class="logo"> %>
    <%# <div> %>
      <%# <%= link_to "events", "#local_events", class: "main-button-home1" %>
    <%# </div> %>
    <%# <div> </div> %>
    <%# <button type="button" class="main-button2">Events</button> %>

</div>
