

  <% events.each do |event| %>
      <div class="card-trip">
      <%= link_to event_path(event) do %>
        <%= cl_image_tag event.images.first.key %>
      <% end %>
        <div class="card-trip-infos">
          <div>
            <h2><%= event.title %></h2>
            <p> <%= event.description %></p>
          </div>
          <h2 class="card-trip-pricing">Photo buddies Berlin</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
<% end %>
