

  <% events.each do |event| %>
    <%# <% link_to "#" do %>
   <%# <% end %>
<div class="card-trip">
   <%= cl_image_tag event.images.first.key %>

  <div class="card-trip-infos">
  <button type="button" class="btn btn-outline-dark">Join</button>
    <div>
      <h2><%= event.title %></h2>
      <p> <%= event.description %></p>
    </div>
    <h2 class="card-trip-pricing">Photo buddies Berlin</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>
<% end %>
