
<%# **test %>
<% if user_signed_in? %>
  <% current_community = Community.find(current_user.community_id) %>
  <p>Welcome to <strong><%= current_community.name %></strong>!</p>
<% end %>
<%# test** %>

<div class= "banner"> <%= render "shared/banner" %> </div>
<div class= "carousel slide"> <%= render "shared/carousel" %> </div>
<div class= "card-trip"> <%= render "shared/tripcard", events: @events %> </div>
