
<div class= "banner"> <%= render "shared/banner" %> </div>
<div class= "carousel slide"> <%= render "shared/carousel" %> </div>
<div class= "card-trip"> <%= render "shared/card" %> </div>
<div class= "footer"> <%= render "shared/footer" %> </div>
