.banner {
padding: 0px;
margin-top: 15px;
justify-content: space-between;
width: 100%;
display:flex;
align-items: center;
margin-left: 8px;

}

.buddies {
font-size: 70px;
font-weight: bold;
color: $red-title;

}

.Photo {
  font-size: 5rem;
}

.banner_community {
  font-size: 40px;
  font-weight: bold;
  padding:60px;
  padding-left: 10px;
  padding-bottom: 30px;
  width: 100%;
  justify-content: space-between;
}

.berlin {
  font-size: 70px;
  color: $red-hover;
  font-weight: bolder;
}

.berlin2 {
  font-style: oblique;
  font-size: 60px;
}

#local_event {
  margin-top: 50px;
}
