.main-button {
  color: $grey-background;
  background-color: $red-title;
  font-weight: 900;
  border: none;
  border-radius: 5px;
  width: 150px;
  box-shadow: 1px 2px 3px $darkgrey;
  padding: 5px 15px;
}

.main-button:hover {
  color: $red-title;
  background-color: $grey-background;
  transition: all 0.3s;
}

.main-button:active {
  box-shadow: none;
  color: $red-title;
  background-color: $red-title;
}

.main-btn {
  color: $grey-background;
  background-color: $red-title;
  font-weight: 900;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 2px 3px $darkgrey;
  padding: 5px 15px;
  height: 60px;
  padding: 5px 15px;
}

.main-btn:hover {
  color: $red-title;
  background-color: $grey-background;
  transition: all 0.3s;
  font-weight: 900;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 2px 3px $darkgrey;
  padding: 5px 15px;
  text-decoration: none;
  top: -2px;
  height: 60px;
  opacity: .7;
}

.back-button a {
  text-decoration: none;
  color: $chocolate;
  font-weight: bolder;
  text-align: center;
  margin: 15px;
}

.back-button a:hover {
  color: $red-title;
}
