.main-button {
  color: white;
  background-color: $cool-green;
  font-weight: 900;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 2px 3px $shadow-grey;
  padding: 10px 15px;
  text-decoration: none;
}

.main-button:hover {
  color: $cool-green;
  background-color: white;
  transition: all 0.3s;
  text-decoration: none;
}


.main-button-home:hover {
  color: $cool-green;
  background-color: $grey-background;
  transition: all 0.3s;
  text-decoration: none;
}

.main-button-home1:hover {
  color: $cool-green;
  background-color: $grey-background;
  transition: all 0.3s;
  text-decoration: none;
}

.main-button:active {
  box-shadow: none;
  color: $cool-green;
  background-color: $cool-green;
  text-decoration: none;
}

.main-btn {
  color: white;
  background-color: $cool-green;
  font-weight: 900;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 2px 3px $darkgrey;
  padding: 5px 15px;
  height: 60px;
  padding: 5px 15px;
}

.disabled-btn {
  color: $cool-green;
  background-color: white;
  font-weight: 900;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 2px 3px $darkgrey;
  padding: 5px 15px;
  height: 60px;
  top: -2px;
  height: 60px;
  opacity: .7;
}

.main-btn:hover {
  color: $cool-green;
  background-color: white;
  transition: all 0.3s;
  font-weight: 900;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 2px 3px $darkgrey;
  padding: 5px 15px;
  text-decoration: none;
  top: -2px;
  height: 60px;
  opacity: .7;
}

.back-button a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  text-align: center;
  margin: 15px;
}

.back-button a:hover {
  color: $cool-green;
}

.main-button2 {
margin-right: 11%;
border-radius: 10%;
background-color: $cool-green;
}

#add-event-btn {
  height: 100px;
}

.like-btn {
  background-color: white;
  color: $cool-green;
  border: none;
}

.main-button-home {
  color: white;
  background-color: $cool-green;
  font-weight: 900;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 2px 3px $darkgrey;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 1.5rem;
  border-style: inset;
  margin-right: 30px;
  margin-left: 130px;
}

.main-button-home1 {
  color: white;
  background-color: $cool-green;
  font-weight: 900;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 2px 3px $darkgrey;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 1.5rem;
  border-style: inset;
  margin-right: 30px;
}
