.main-button {
  color: $grey-background;
  background-color: $red-title;
  font-weight: 900;
  border: none;
  border-radius: 10px;
  width: 200px;
  box-shadow: 1px 2px 3px $darkgrey;
  padding: 5px 15px;
  text-decoration: none;
}

.main-button:hover {
  color: $red-title;
  background-color: $grey-background;
  transition: all 0.3s;
  text-decoration: none;
}

.main-button:active {
  box-shadow: none;
  color: $red-title;
  background-color: $red-title;
  text-decoration: none;
}

.back-btn {
  transition-duration: 0.4s;
  background-color: #4267B2;
  border-radius: 4px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  width: 80px;
  height: 40px;
  padding: 5px 5px;
}

.back-btn:hover {
  box-shadow: 1px 2px 3px $darkgrey;
  top: -2px;
  opacity: .8;
  color: white;
  text-decoration: none;
}

.back-button a {
  text-decoration: none;
  color: $chocolate;
  font-weight: bolder;
  text-align: center;
  margin: 15px;
}

.back-button a:hover {
  color: $red-title;
}

.main-button2 {
margin-right: 11%;
border-radius: 10%;
background-color: seagreen;
}

#add-event-btn {
  height: 100px;
}

.like-btn {
  background-color: white;
  color: $red-title;
  border: none;
}

