.card {
  overflow: hidden;
  background: $whitegrey;
  box-shadow: 0 0 15px grey;
  transition: all 0.3s;
}

.card:hover h5, .card:hover p {
  color: $mediumgrey;
  font-weight: bolder;
}

.card:active {
  background-color: $darkgrey;
  border: 3px solid $lightgrey;
  box-shadow: none;
}

.card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card h5 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: $darkgrey;
  transition: all 0.3s;
}

.card p {
  font-size: 13px;
  margin: 0;
  color: $darkgrey;
  transition: all 0.3s;
}

.card .card-title {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  text-align: center;
}

.card-details {
  //display: flex;
  // justify-content: space-between;

}

.card-body {
  height: 220px;
  padding: 30px;
  padding-top: 15px;
}

.card-trip {
  overflow: hidden;
  margin: 30px;
  background: $grey-background;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 125px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 23px;
  font-weight: bold;
  opacity: 5;
  margin: 0px;
  margin-top: 12px;
}


.card-trip .card-trip-infos {
  background-color: whitesmoke;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -50px;
  width: 70px;
}
