#carouselExampleIndicators {

}

.carousel-inner {
//height: 600px;

}

.carousel-item > img {
  //width: 100%;
  //height:10%;
  //object-fit: cover;
}

.empty-gal-carousel p {
  font-size: 500px;
  line-height: 1;
  text-align: center;
  margin: 0;
  font-weight: 900;
  }
