#carouselExampleIndicators {

}

// .carousel-item img {
//   width: 900px;
//   height: 300px;
//   -o-object-fit: cover;
//   object-fit: cover;
// }

// .carousel-item > img {
//   height: 300px;
//   width: 950px;
//   object-fit: cover;
// }


// .carousel-item {
//   img {
//     height: 300px;
//     width: 950px;
//     object-fit: cover;
//   }
// }

.empty-gal-carousel p {
  font-size: 500px;
  line-height: 1;
  text-align: center;
  margin: 0;
  font-weight: 900;
  }
