.footer-pb {
  justify-content: flex-end;
  background-color: white;
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  box-shadow: 3px 3px 9px $shadow-grey;
  margin-top: 100px;
}

.list-social {
  position: relative;
}

.list-social i {
  color: black;
  transition: all 0.3s;
}

.list-social i:hover {
  color: $cool-green;
}
