.info-win {
  width: 200px;
  height: 300px;
}

.info-hot-spot {
  text-align: left;

  p {
    font-size: 16px;
  }
}

#info-win-address {
  padding: 10px 0;
  font-size: 14px;
}

#info-win-user {
  font-size: 18px;
}
