.navbar-lewagon {
  justify-content: space-between;
  background-color: white;
  padding-bottom: 0px;
  // padding-top: 15px;
  text-align: center;
  box-shadow: 3px 3px 9px $shadow-grey;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon h2 {
  font-size: large;
  font-weight: 600;
  color: black;
  padding: 10px;
}

.navbar i {
  color: black;
  font-size: large;
  padding: 0;
}

.navbar-brand {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.navbar-tab.active {
  color: $cool-green;
  border-bottom: 5px solid $cool-green;

  h2, i {
    color: $cool-green;
    // margin-top: 10px;
  }
}

#navbar-tabs {
  display: flex;
  align-items: center;
}

.navbar-tab img {
  height: 50px;
}

.navbar-tab {
  margin-right: 35%;
}

.navbar-tab h1 {
  font-weight: 900;
  font-size: xx-large;
  // padding-top: 15px;
}
