.navbar-lewagon {
  justify-content: space-between;
  background: grey;
  padding-bottom: 0px;
  padding-top: 15px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 5px;
}









// .navbar-lewagon {
//   justify-content: space-between;
//   background: $white;
//   box-shadow: 3px 3px 9px $darkerblue;
// }

// #navbarSupportedContent{
//   display:flex;
//   justify-content: flex-end;
//   // margin-left: 1620px;
// }

// .logo {
//   width: 60px;
// }
