.navbar-lewagon {
  justify-content: space-between;
  background-color: $grey-background;
  padding-bottom: 0px;
  // padding-top: 15px;
  text-align: center;
  box-shadow: 3px 3px 9px $grey-background;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

// .navbar-lewagon .navbar-brand img {
//   width: 5px;
// }

.navbar-lewagon h2 {
  font-size: large;
  font-weight: 600;
  color: $chocolate;
  padding: 10px;
}

.navbar i {
  color: $chocolate;
  font-size: large;
  padding: 0;
}

.navbar-brand {
  padding: 0;
  margin: 0;
  display: flex;
  //flex-direction: column;
  align-items: center;
}

.navbar-tab.active {
  color: white;
  border-bottom: 5px solid white;

  h2, i {
    color: white;
  }
}

#navbar-tabs {
  display: flex;
  align-items: center;
  // justify-content: space-around;
}
