
.user-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

@media (min-width: 100px) and (max-width: 768px) {
  .user-cards {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
  .user-cards {
    grid-template-columns: 1fr 1fr;
  }
}

.card-user {
  overflow: hidden;
  height: 100px;
  background: white;
  box-shadow: 0 0 6px $shadow-grey;
  display: flex;
  align-items: center;
  margin: 10px auto;
  text-decoration: none;

  img {
    margin-left: 10px;
  }
}

.card-user h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: $cool-green;
}

.card-user p {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;
  color: black;
}

.card-user .card-user-infos {
  padding: 16px;
}

.card-user i {
  color: $cool-green;
  font-size: xx-large;
  margin: 10px 20px 0;
}

// .user-avatar {
//   //margin-left: 10px;
//   border-radius: 100%;
// }

a.card-user {
  text-decoration: none;
}
