<%= turbo_frame_tag :modal do %>
  <div class='align-items-center d-flex fixed-top justify-content-center min-vh-100 min-vw-100'>
    <%= link_to '', profile_path, class:"modal-darken" %>
    <div class="modal-container">
      <div class="form-inputs">
        <h1>Create Gallery</h1>
        <%= render 'gallery_form', gallery: @gallery %>
        <%= link_to 'Cancel', profile_path, class: 'btn btn-white' %>
      </div>
    </div>
  </div>
<% end %>
