<h1>Communities#show</h1>
<p>Find me in app/views/communities/show.html.erb</p>

<div class= "banner_community"> <%= render "shared/banner" %> </div>
<div class= "carousel slide"> <%= render "shared/carousel" %> </div>
<div class= "card-trip"> <%= render "shared/tripcard", events: @events %> </div>
